{{#concreteFieldData}}
{{> concrete_field_to_domain}}
{{/concreteFieldData}}
{{#oneofFieldData}}
                new Callable<{{domainFieldType}}>() {
                    public {{domainFieldType}} call()  {
{{> oneof_to_domain}}
                    }
                }.call()
{{/oneofFieldData}}