{{#oneOfFieldsData}}
        if(domainBase instanceof {{oneofImplClass}}) {
            {{oneofImplClass}} domainImpl = ({{oneofImplClass}})domainBase;
{{> oneof_impl_to_proto}}
        } else
{{/oneOfFieldsData}}
        {}