{{#hasConverter}}
    {
        {{converterFullName}} converter = new {{converterFullName}}();
        if(converter.shouldAssignToProto(domainImpl.{{domainGetterMethod}}())) {
            builder.{{protoBuilderSetCommand}}(converter.toProtobufValue(domainImpl.{{domainGetterMethod}}()));
        }
    }
{{/hasConverter}}
{{^hasConverter}}
    {{#isNullableDomainType}}
        if(domainImpl.get{{domainFieldMethodSuffix}}() != null) {
    {{/isNullableDomainType}}
        {{#isMessage}}
            builder.set{{protoFieldPascalCase}}(toProto(domainImpl.{{domainGetterMethod}}()));
        {{/isMessage}}
        {{^isMessage}}
            builder.set{{protoFieldPascalCase}}(domainImpl.{{domainGetterMethod}}());
        {{/isMessage}}
    {{#isNullableDomainType}}
        }
    {{/isNullableDomainType}}
{{/hasConverter}}